h1{
    text-align: center;
    font-weight: 700;
    text-decoration: burlywood overline  underline line-through;
}

body {
    background-color: beige;
}
a{
    text-decoration: none;

}

p {
    line-height: 1;
}



