h1{
    text-align: center;
    font-weight: 700;
    text-decoration: burlywood overline  underline line-through;
}

body {
    background-color: beige;
}
a{
    text-decoration: none;

}

p {
    line-height: 1;
}

/* li {
    color: blue;
}

.done {
    color:grey;
}

#clear{
    background-color: red;
    color: white;
} */

header a {
    font-size: 30px;
    color: teal;
}

#dislikes a {
    font-weight: bold;
    color: red;
}

a:hover {
    text-decoration: underline;
    font-weight: 700
    

}